@import 'src/app/@theme/styles/themes';
@import 'src/app/@theme/styles/myStyle';

@include nb-install-component() {
  nb-card {
    width: 1000px;
    max-height: 600px;
  }
  nb-card-body {
    padding: 2rem;
  }
}
label {
  text-transform: capitalize;
}
.card-header {
  @extend %my-card-header;
}
:host {
  .title {
    margin-bottom: 2rem;
  }
}
.register-container {
  padding: 3rem;
}
.left-column {
  background-color: $color_blue;
}
input {
  height: 3em;
}
//to change the page's scrollbar
/* width */
//---------------------------------------
:host ::ng-deep {
 nb-card nb-card-body::-webkit-scrollbar {
    width: 0.7rem !important;
    height: 0.8em!important;
  }

  /* thumb */
  nb-card nb-card-body::-webkit-scrollbar-thumb {
    background: #d7caca !important;
  }

  /* Track */
  nb-card nb-card-body::-webkit-scrollbar-track {
    background: #f7f9fc!important;
  }
}
