
<div *ngIf="isAdmin == true" >
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-12">Ajouter un certificat d'aperçu de corps</div></div>

  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Décédé</label>
          <nb-select  [(ngModel)]="defauntID" class="type-select "  nbSelect fullWidth
                      placeholder="Numero de registre" required="true">
            <nb-option *ngFor="let t of NomDeced" [value]="t.id" > {{t.id}} : {{ t.nom }} {{ t.prenom }}</nb-option>
          </nb-select>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Centre médico-légal</label>
          <input [(ngModel)]="ApercuCorps.centerMedicoLegal" class="form-control" type="string" nbInput fullWidth
                 id="centre" placeholder="Centre médico-légal" required="true">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Médcin/ Assistant de santé</label>
          <nb-select [(ngModel)]="MedecinID"  class="type-select " nbSelect fullWidth
                     placeholder="Medecin/ Assistant de santé" required="true">
            <nb-option *ngFor="let t of NomMedcin" [value]="t.id">{{t.nom}} {{t.prenom}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Date de déclaration</label>
          <input [(ngModel)]="ApercuCorps.dateDeclaration" class="form-control" type="Date" nbInput fullWidth
                 id="dateDec" placeholder="Déclarant" required="true">

        </div>
      </div>
    </div>

    <div class="float-right">
      <button class="btn mr-1 "  (click)="save()" type="submit" nbButton  status="danger">Enregistrer</button>
      <!--
      <button  class="btn btn-secondary mr-1" (click)="generatePdf('francais')" type="submit" nbButton  status="danger" outline>Certificat</button>
      <button class="btn btn-secondary mr-1" (click)="generatePdf('arabe')" type="submit" nbButton  status="danger" outline>شهادة</button>
      -->
    </div>

  </nb-card-body>
</nb-card>
</div>
<div class="card">
  <div class="card-header">
    Liste des certificats d'aperçu de corps
  </div>
  <div class="table table-responsive">

    <ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="onEditConfirm($event)" (custom)="onCustomConfirm($event)">
    </ng2-smart-table>
  </div>
</div>

