<nb-card>
  <nb-card-header class="card-header">
    <div class="row">
      <div class="col-sm-12">Ajouter un certificat d'aperçu de corps</div></div>

  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off"  [formGroup]="dataService.reactiveForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Décédé</label>
          <ngx-select formControlName="defunt"
                      class="form-control"
                      [items]="listDeced"
                      (select)="doSelectD($event)"
                      (remove)="doRemoveD($event)"
                      placeholder="choisir décédé..."
                      required>
          </ngx-select>
          <ngx-validation-message label="Décédé"
                                  [showRequired]="!getControl('defunt').valid && getControl('defunt').touched">
          </ngx-validation-message>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Centre médico-légal</label>
          <input formControlName="centerMedicoLegal"class="form-control" type="text"
                 id="centre" placeholder="Centre médico-légal" required>
          <ngx-validation-message label="Centre médico-légal"
                                  [showRequired]="!getControl('centerMedicoLegal').valid && getControl('centerMedicoLegal').touched"
                                  [fr]="getControl('centerMedicoLegal')?.hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Médecin/ Assistant de santé</label>
          <ngx-select formControlName="medecin"
                      class="form-control"
                      [items]="listMedcin"
                      (select)="doSelectM($event)"
                      (remove)="doRemoveM($event)"
                      placeholder="choisir médecin..."
                      required>

          </ngx-select>
          <ngx-validation-message label="Médecin/ Assistant de santé"
                                  [showRequired]="!getControl('medecin').valid && getControl('medecin').touched">
          </ngx-validation-message>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Date de déclaration</label>
          <input formControlName="dateDeclaration" class="form-control" type="Date"
                 id="dateDec" placeholder="Date de déclaration" required>
          <ngx-validation-message label="Date de déclaration"
                                  [showRequired]="!getControl('dateDeclaration').valid && getControl('dateDeclaration').touched">
          </ngx-validation-message>
        </div>
      </div>
    </div>

    <div class="float-right">
      <button class="btn mr-1 "  (click)="onSubmit()" type="submit" nbButton  status="info">Enregistrer</button>
      <button class="btn mr-1 " (click)="dataService.reactiveForm.reset()" nbButton status="info" outline>Annuler</button>
      <!--
      <button  class="btn btn-secondary mr-1" (click)="generatePdf('francais')" type="submit" nbButton  status="danger" outline>Certificat</button>
      <button class="btn btn-secondary mr-1" (click)="generatePdf('arabe')" type="submit" nbButton  status="danger" outline>شهادة</button>
      -->
    </div>
    </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header class="card-header">
    <div class="row">
      <div class="col-sm-12">Liste des certificats d'aperçu de corps</div>
    </div>
  </nb-card-header>
  <div class="table table-responsive">
    <ng2-smart-table
      [settings]="dataService.settings"
      [source]="source"
      (custom)="onCustomConfirm($event)">
    </ng2-smart-table>
  </div>
</nb-card>

