<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-12">Ajouter un certificat d'aperçu de corps</div></div>

  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off"  [formGroup]="reactiveForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Décédé</label>
          <nb-select formControlName="defunt" [(ngModel)]="this.ApercuCorps.defunt" class="type-select "  nbSelect fullWidth
                      placeholder="choisir décédé..." required="true">
            <nb-option *ngFor="let t of NomDeced" [value]="t.id" >{{ t.nom }} {{ t.prenom }}</nb-option>
          </nb-select>
          <ngx-validation-message label="Décédé"
                                  [showRequired]="!getControl('defunt').valid && getControl('defunt').touched">
          </ngx-validation-message>
      </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Centre médico-légal</label>
          <input formControlName="centerMedicoLegal" [(ngModel)]="this.ApercuCorps.centerMedicoLegal" class="form-control" type="string" nbInput fullWidth
                 id="centre" placeholder="Centre médico-légal" required="true">
          <ngx-validation-message label="Centre médico-légal"
                                  [showRequired]="!getControl('centerMedicoLegal').valid && getControl('centerMedicoLegal').touched"
                                  [fr]="getControl('centerMedicoLegal')?.hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Médecin/ Assistant de santé</label>
          <nb-select formControlName="medecin" [(ngModel)]="this.ApercuCorps.medecin"  class="type-select " nbSelect fullWidth
                     placeholder="choisir médecin..." required="true">
            <nb-option *ngFor="let t of NomMedcin" [value]="t.id">{{t.nom}} {{t.prenom}}</nb-option>
          </nb-select>
          <ngx-validation-message label="Médecin/ Assistant de santé"
                                  [showRequired]="!getControl('medecin').valid && getControl('medecin').touched">
          </ngx-validation-message>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label  class="label">Date de déclaration</label>
          <input formControlName="dateDeclaration" [(ngModel)]="this.ApercuCorps.dateDeclaration" class="form-control" type="Date" nbInput fullWidth
                 id="dateDec" placeholder="Date de déclaration" required="true">
          <ngx-validation-message label="Date de déclaration"
                                  [showRequired]="!getControl('dateDeclaration').valid && getControl('dateDeclaration').touched">
          </ngx-validation-message>
        </div>
      </div>
    </div>

    <div class="float-right">
      <button class="btn mr-1 "  (click)="onSubmit()" type="submit" nbButton  status="danger">Enregistrer</button>
      <button class="btn mr-1 " (click)="reactiveForm.reset()" nbButton status="danger" outline>Annuler</button>
      <!--
      <button  class="btn btn-secondary mr-1" (click)="generatePdf('francais')" type="submit" nbButton  status="danger" outline>Certificat</button>
      <button class="btn btn-secondary mr-1" (click)="generatePdf('arabe')" type="submit" nbButton  status="danger" outline>شهادة</button>
      -->
    </div>
    </form>
  </nb-card-body>
</nb-card>
<div class="card">
  <div class="card-header">
    Liste des certificats d'aperçu de corps
  </div>
  <div class="table table-responsive">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomConfirm($event)">
    </ng2-smart-table>
  </div>
</div>

