
:host ::ng-deep ng2-st-tbody-edit-delete { display: flex !important; height: 0 !important; }:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom{ display: inline-block; width: 33% ; text-align: center; font-size: 0em; }:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { color: #5DCFE3; }


:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-trash:before {
  color: #ff003b;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-edit:before {
  color: #21335a;
  font-size: 20px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
//to change the table scrollbar
/* width */
:host ::ng-deep .table::-webkit-scrollbar {
  height: 0.8em!important;
}
/* Handle on hover */
:host ::ng-deep .table::-webkit-scrollbar-thumb:hover {
  background: #7a3131;
}

/* Track */
:host ::ng-deep .table::-webkit-scrollbar-track {
  // background: #cacaca;
}
//---------------------------------------

nb-card-header {
  background-color: #f5d596;
  font-size: 20px;
  font-weight: bold;
  color: #7a3131;

}
.card-header {
  background-color: #f5d596;
  font-size: 20px;
  font-weight: bold;
  color: #7a3131;

}
