<nb-card>
    <nb-card-header class="card-header bg-info">
        <div class="row">
            <div class="col-sm-12">Ajouter Les Informations D'un Décédé</div>
        </div>
    </nb-card-header>
    <nb-card-body>

        <nb-tabset>

            <nb-tab tabTitle="Les informations sur le décédé">
                      <form autocomplete="off"  [formGroup]="reactiveForm">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Nom du décédé</label>
                                    <input
                                          formControlName="nom"
                                           class="form-control"
                                           type="text"


                                           required
                                           placeholder="Nom décédé">
                                  <ngx-validation-message label="Nom décédé"
                                                          [showRequired]="!getControl('nom').valid && getControl('nom').touched"
                                                          [fr]="getControl('nom')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Prénom du décédé</label>
                                    <input formControlName="prenom"
                                           required
                                           class="form-control"


                                           required
                                           placeholder="Prénom décédé">
                                  <ngx-validation-message label="Prenom décédé"
                                                          [showRequired]="!getControl('prenom').valid && getControl('prenom').touched"
                                                          [fr]="getControl('prenom')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Sexe</label>
                                    <nb-select class="type-select "
                                               formControlName="sexe"

                                               fullWidth
                                               placeholder="Sexe"
                                               required>
                                        <nb-option *ngFor="let t of sexeList"  [value]="t.value">{{t.title}}</nb-option>
                                    </nb-select>
                                  <ngx-validation-message label="Sexe"
                                                          [showRequired]="!getControl('sexe').valid && getControl('sexe').touched">
                                  </ngx-validation-message>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Date de décès</label>
                                    <input class="form-control"
                                           formControlName="dateDeces"
                                           type="Date"
                                           name= "dateDeces"
                                           required


                                           id="dateD"
                                           placeholder="Date décès">
                                  <ngx-validation-message label="Date décès"
                                                          [showRequired]="!getControl('dateDeces').valid && getControl('dateDeces').touched">
                                  </ngx-validation-message>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Date de naissance</label>
                                    <input  class="form-control"
                                            formControlName="dateNaissance"
                                           type="Date"
                                           name= "dateNaissance"
                                           required
                                           id="DateNai"
                                           placeholder="Date de naissance">
                                  <ngx-validation-message label="Date de naissance"
                                                          [showRequired]="!getControl('dateNaissance').valid && getControl('dateNaissance').touched">
                                  </ngx-validation-message>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <nb-checkbox id="defaultCheck"  formControlName="mortNe"> S'agit-il d'un mort né</nb-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="createDecedeFromForm().sexe ==='Femme' &&(this.getAgeParAnnee(createDecedeFromForm().dateNaissance, createDecedeFromForm().dateDeces) < 54)
                             &&(this.getAgeParAnnee(createDecedeFromForm().dateNaissance, createDecedeFromForm().dateDeces) > 12);then contenu"></div>
                            <ng-template #contenu>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="label">Le décès est-il survenu pendant une grossesse ou moins d'un an après sa terminaison ?</label>
                                        <nb-select formControlName="decesGrossesse"class="type-select "  fullWidth>
                                            <nb-option *ngFor="let t of confirmationList" [value]="t.value">{{t.title}}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="row">
                            <div *ngIf="createDecedeFromForm().decesGrossesse==='Oui';then conten"></div>
                            <ng-template #conten>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="label">le décès de la femme est-il survenu..?</label>
                                            <nb-select formControlName="decesFemme" class="type-select "  fullWidth>
                                                <nb-option *ngFor="let t of decesFemmeList" [value]="t.value">{{t.title}}</nb-option>
                                            </nb-select>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="label">La grossesse a-t-elle contribué au decès ?</label>
                                            <nb-select formControlName="contribueGros" class="type-select "  fullWidth>
                                                <nb-option *ngFor="let t of confirmationList" [value]="t.value">{{t.title}}</nb-option>
                                            </nb-select>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="createDecedeFromForm().mortNe===true ||(this.getAgeParJour(createDecedeFromForm().dateNaissance, createDecedeFromForm().dateDeces)<7);then res"></div>
                                <ng-template #res>
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Grossesse multiple?</label>
                                                <nb-select formControlName="grossesseMultiple" class="type-select "  fullWidth placeholder="Grossesse multiple">
                                                    <nb-option *ngFor="let t of confirmationList" [value]="t.value">{{t.title}}</nb-option>
                                                </nb-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Age de la mère</label>
                                                <input formControlName="ageMere" class="form-control" type="text"   id="ageMere" placeholder="Age du mère">
                                              <ngx-validation-message label="Age de la mère"
                                                                      [fr]="getControl('ageMere')?.hasError('pattern')">
                                              </ngx-validation-message>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Poids à la naissance</label>
                                                <input formControlName="poidsNaissance" class="form-control" type="text"   id="poids" placeholder="Poids en grammes">
                                              <ngx-validation-message label="Poids à la naissance"
                                                                      [fr]="getControl('poidsNaissance')?.hasError('pattern')">
                                              </ngx-validation-message>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label">Age gestationnel</label>
                                                <input formControlName="ageGestationnel" class="form-control" type="text"   id="ageGestationnel" placeholder="Age du mère">
                                              <ngx-validation-message label="Age gestationnel"
                                                                      [fr]="getControl('ageGestationnel')?.hasError('pattern')">
                                              </ngx-validation-message>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label">Maladie ou affection maternelle ayant affecté le foetus ou le nouveau-né</label>
                                                <input formControlName="maladie" class="form-control" type="text"   id="maladie" placeholder="....">
                                              <ngx-validation-message label="Maladie ou affectation"
                                                                      [fr]="getControl('maladie')?.hasError('pattern')">
                                              </ngx-validation-message>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Lieu de naissance</label>
                                    <input formControlName="lieuNaiss"
                                           class="form-control"
                                           type="text"


                                           name= "naissance"
                                           required
                                           id="LieuNai"
                                           placeholder="Lieu de naissance">
                                  <ngx-validation-message label="Lieu de naissance"
                                                          [showRequired]="!getControl('lieuNaiss').valid && getControl('lieuNaiss').touched"
                                                          [fr]="getControl('lieuNaiss')?.hasError('pattern')">
                                  </ngx-validation-message>


                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Nationalité</label>
                                    <input formControlName="nationalite"
                                           class="form-control"
                                           type="text"
                                           name= "nationalite"
                                           required


                                           id="nationalite"
                                           placeholder="Nationalité">
                                  <ngx-validation-message label="Nationalité"
                                                          [showRequired]="!getControl('nationalite').valid && getControl('nationalite').touched"
                                                          [fr]="getControl('nationalite')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">CIN</label>
                                    <input formControlName="cin"
                                           class="form-control"
                                           type="text"
                                           name= "CIN"
                                           required


                                           id="cin"
                                           placeholder="CIN">
                                  <ngx-validation-message label="CIN"
                                                          [showRequired]="!getControl('cin').valid && getControl('cin').touched"
                                                          [fr]="getControl('cin')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Adresse</label>
                                    <input formControlName="adresse"
                                           class="form-control"
                                           type="text"


                                           name= "adresse"
                                           required
                                           id="adresse"
                                           placeholder="Adresse">
                                  <ngx-validation-message label="Adresse"
                                                          [showRequired]="!getControl('adresse').valid && getControl('adresse').touched"
                                                          [fr]="getControl('adresse')?.hasError('pattern')">
                                  </ngx-validation-message>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Etat Matrimonial</label>
                                    <nb-select formControlName="etat"
                                               class="type-select "

                                               required
                                               fullWidth
                                               placeholder="Etat Matrimonial">
                                        <nb-option *ngFor="let t of etatList" [value]="t.value"> {{t.title}}</nb-option>
                                    </nb-select>
                                  <ngx-validation-message label="Etat Matrimonial"
                                                          [showRequired]="!getControl('etat').valid && getControl('etat').touched"
                                                          [fr]="getControl('etat')?.hasError('pattern')">
                                  </ngx-validation-message>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Nom du père ou mère</label>
                                    <input  formControlName="fils"
                                           class="form-control"
                                           type="text"

                                           name= "fils"
                                           required

                                           id="fils"
                                           placeholder="Nom du père ou mère">
                                  <ngx-validation-message label="Nom du père ou mère"
                                                          [showRequired]="!getControl('fils').valid && getControl('fils').touched"
                                                          [fr]="getControl('fils')?.hasError('pattern')">
                                  </ngx-validation-message>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Heure de décès</label>
                                    <input formControlName="heure"
                                           class="form-control"
                                           type="text"


                                           name= "heure"
                                           required
                                           id="heure"
                                           placeholder="exemple 05:10">
                                  <ngx-validation-message label="Heure de décès"
                                                          [showRequired]="!getControl('heure').valid && getControl('heure').touched"
                                                          [heurePattern]="getControl('heure')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Lieu Décès</label>
                                    <nb-select formControlName="lieuxDeces"
                                               class="type-select "
                                               name= "lieuxDeces"
                                               required
                                               fullWidth
                                               placeholder="Lieu Deces">
                                        <nb-option *ngFor="let t of lieuDecesList" [value]="t.value">{{t.title}}</nb-option>
                                    </nb-select>
                                  <ngx-validation-message label="Lieu Décès"
                                                          [showRequired]="!getControl('lieuxDeces').valid && getControl('lieuxDeces').touched"
                                                          [fr]="getControl('lieuxDeces')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Préfecture /Province</label>
                                    <nb-select formControlName="provinceD"
                                               class="type-select "  fullWidth placeholder="Préfecture /Province">
                                        <nb-option *ngFor="let t of provinceList" [value]="t.value"> {{t.title}}</nb-option>
                                    </nb-select>
                                  <ngx-validation-message label="Préfecture /Province"
                                                          [fr]="getControl('provinceD')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Préfecture d'arrondissements</label>
                                    <input formControlName="prefectureD" class="form-control" type="text"
                                             id="prefect" placeholder="Préfecture d'arrondissement">
                                  <ngx-validation-message label="Heure de décès"
                                                          [fr]="getControl('provinceD')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Commune /Arrondissements</label>
                                    <input formControlName="prefectureD" class="form-control" type="text"   id="communeD" placeholder="Commune /Arrondissements">
                                  <ngx-validation-message label="Commune /Arrondissements"
                                                          [fr]="getControl('prefectureD')?.hasError('pattern')">
                                  </ngx-validation-message>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Nature de la mort</label>
                                    <nb-select formControlName="natureMort"
                                               class="type-select "
                                               name= "natureMort"
                                               required
                                               fullWidth
                                               placeholder="nature de la mort">
                                        <nb-option *ngFor="let t of natureMortList" [value]="t.value">{{t.title}}</nb-option>
                                    </nb-select>
                                  <ngx-validation-message label="Nature de la mort"
                                                          [showRequired]="!getControl('natureMort').valid && getControl('natureMort').touched">
                                  </ngx-validation-message>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="createDecedeFromForm().natureMort === 'Mort non naturelle' then causeDeMortNonNaturelle else causeDeMortNaturelle"></div>
                            <ng-template #causeDeMortNaturelle>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Cause de mort</label>
                                        <nb-select formControlName="causeMort" class="type-select "  fullWidth placeholder="Cause de mort">
                                            <nb-option *ngFor="let t of causes" [value]="t.description">{{t.description}}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #causeDeMortNonNaturelle>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label"> Cause initiale </label>
                                        <nb-select formControlName="causeInitial" class="type-select "  fullWidth placeholder="Cause initiale">
                                            <nb-option *ngFor="let t of causes" [value]="t.description">{{t.description}}</nb-option>
                                        </nb-select>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Cause immédiate</label>
                                        <nb-select formControlName="causeImmdiate" class="type-select "  fullWidth placeholder="Cause immédiate">
                                            <nb-option *ngFor="let t of causes" [value]="t.description">{{t.description}}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label"> Profession </label>
                                    <input formControlName="profession"
                                           class="form-control"
                                           type="text"

                                           name= "profession"
                                           required

                                           id="profession"
                                           placeholder="Profession">
                                  <ngx-validation-message label="Nature de la mort"
                                                          [showRequired]="!getControl('profession').valid && getControl('profession').touched"
                                                          [fr]="getControl('profession')?.hasError('pattern')">
                                  </ngx-validation-message>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="(createDecedeFromForm().natureMort === 'Mort non naturelle') then survenu">
                                </div>
                                <ng-template #survenu>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Date de survenue</label>
                                                <input class="form-control"
                                                       formControlName="dateServ"
                                                       type="Date"


                                                       id="DateServ"
                                                       placeholder="Date de survenue">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Lieu de survenue</label>
                                                <nb-select formControlName="lieuServ"
                                                           class="type-select "

                                                           fullWidth
                                                           placeholder="Lieu de servenue">
                                                    <nb-option *ngFor="let t of lieuList" [value]="t.value">{{t.title}}</nb-option>
                                                </nb-select>
                                              <ngx-validation-message label="Lieu de survenue"
                                                                      [fr]="getControl('lieuServ')?.hasError('pattern')">
                                              </ngx-validation-message>

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Circonstances de survenue</label>
                                                <input class="form-control"
                                                       formControlName="circonServ"
                                                       type="text"


                                                       id="circonstances"
                                                       placeholder="Circonstances de survenue">
                                              <ngx-validation-message label="Circonstances de survenue"
                                                                      [fr]="getControl('circonServ')?.hasError('pattern')">
                                              </ngx-validation-message>
                                            </div>
                                        </div>
                                    </div>

                                </ng-template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <nb-checkbox id="defaultCheck1" formControlName="obstacle">Obstacle medicolégal</nb-checkbox>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Autopsie</label>
                                    <nb-select formControlName="autopsie" class="type-select "  fullWidth placeholder="Autopsie">
                                        <nb-option *ngFor="let t of confirmationList" [value]="t.value">{{t.title}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="label">Une operation a-t-elle été effectuées lors des 4 dernières semaines ?</label>
                                    <nb-select formControlName="operation" class="type-select "  fullWidth placeholder="Operation">
                                        <nb-option *ngFor="let t of confirmationList" [value]="t.value">{{t.title}}</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="createDecedeFromForm().autopsie === 'Oui'then resultAutopsie"></div>
                                <ng-template #resultAutopsie>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">les résultats ont-ils été utilisés dans certification</label>
                                                <nb-select formControlName="resultatsAutopsie" class="type-select "  fullWidth placeholder="les resultats ...">
                                                    <nb-option *ngFor="let t of confirmationList" [value]="t.value">{{t.title}}</nb-option>
                                                </nb-select>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div *ngIf="createDecedeFromForm().operation==='Oui'then resOperation"></div>
                                <ng-template #resOperation>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">La date d'operation</label>
                                                <input formControlName="dateOperation" class="form-control" type="Date"   id="dateOp" placeholder="La date d'operation">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="label">Motif d'operation</label>
                                                <input formControlName="motifOperation" class="form-control" type="text"   id="motif" placeholder="motif d'operation">
                                              <ngx-validation-message label="Motif d'operation"
                                                                      [fr]="getControl('motifOperation')?.hasError('pattern')">
                                              </ngx-validation-message>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                      </form>
            </nb-tab>
            <nb-tab tabTitle="معلومات عن المتوفى">
                      <form [formGroup]="reactiveForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group arabe">
                                        <label class="label float-right">الإسم العائلي</label>
                                        <input formControlName="nomAR" class="form-control" type="text"   id="NomAR" required placeholder="الإسم العائلي">
                                      <ngx-validation-message  label="الإسم العائلي"
                                                              [showRequired]="!getControl('nomAR').valid && getControl('nomAR').touched"
                                                              [ar]="getControl('nomAR')?.hasError('pattern')">
                                      </ngx-validation-message>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group arabe">
                                        <label class="label float-right">الإسم الشخصي</label>
                                        <input formControlName="prenomAR" class="form-control" type="text"   id="prenomAR" required placeholder="الإسم الشخصي">
                                      <ngx-validation-message label="الإسم الشخصي"
                                                              [showRequired]="!getControl('prenomAR').valid && getControl('prenomAR').touched"
                                                              [ar]="getControl('prenomAR')?.hasError('pattern')">
                                      </ngx-validation-message>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group arabe">
                                        <label class="label float-right">الجنسية</label>
                                        <input formControlName="nationaliteAR" class="form-control" type="text"   id="nationaliteAR" required placeholder="الجنسية">
                                      <ngx-validation-message label="الجنسية"
                                                              [showRequired]="!getControl('nationaliteAR').valid && getControl('nationaliteAR').touched"
                                                              [ar]="getControl('nationaliteAR')?.hasError('pattern')">
                                      </ngx-validation-message>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group arabe">
                                        <label class="label float-right">مكان الوفاة</label>
                                        <input formControlName="lieuDecesAR" class="form-control" required type="text"   id="LieuDecesAr" placeholder="مكان الوفاة">
                                      <ngx-validation-message label="مكان الوفاة"
                                                              [showRequired]="!getControl('lieuDecesAR').valid && getControl('lieuDecesAR').touched"
                                                              [ar]="getControl('lieuDecesAR')?.hasError('pattern')">
                                      </ngx-validation-message>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group arabe">
                                        <label class="label float-right">العنوان</label>
                                        <input formControlName="adresseAR" class="form-control" required  type="text"   id="adresseAR" placeholder="العنوان">
                                      <ngx-validation-message label="العنوان"
                                                              [showRequired]="!getControl('adresseAR').valid && getControl('adresseAR').touched"
                                                              [ar]="getControl('adresseAR')?.hasError('pattern')">
                                      </ngx-validation-message>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group arabe ">
                                        <label class="label float-right">إسم الأب أو الأم</label>
                                        <input formControlName="filsAR"
                                               class="form-control" required
                                               type="text"   id="FilsAR" placeholder="إسم الأب أو الأم">
                                      <ngx-validation-message label="إسم الأب أو الأم"
                                                              [showRequired]="!getControl('filsAR').valid && getControl('filsAR').touched"
                                                              [ar]="getControl('filsAR')?.hasError('pattern')">
                                      </ngx-validation-message>
                                    </div>
                                </div>
                            </div>
                      </form>
            </nb-tab>

        </nb-tabset>
      <form  [formGroup]="reactiveForm">
        <div class="float-right">
          <button  class="btn mr-1 "  (click)="onSubmit()" type="submit" nbButton  status="info">Enregistrer</button>
          <button class="btn btn-secondary mr-1" (click)="reactiveForm.reset()"  nbButton  status="info" outline>Annuler</button>
        </div>
      </form>
    </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header class="card-header bg-info">
    <div class="row">
      <div class="col-sm-12"> Liste des décédés</div>
    </div>
  </nb-card-header>
  <div class="table table-responsive">
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomConfirm($event)">
    </ng2-smart-table>
  </div>
</nb-card>
