@import '../../../@theme/styles/myStyle';
.ng-valid[required], .ng-valid.required {
  @include my-ng-validation($color: $color_lightGreen);
}

.ng-invalid:not(form) {
  @include my-ng-validation($color: $color_red);
}

//to change the table scrollbar
/* width */
:host ::ng-deep .table::-webkit-scrollbar {
  height: 0.8em!important;
  width: 0.8em!important;
}
/* Handle on hover */
:host ::ng-deep .table::-webkit-scrollbar-thumb:hover {
  @include my-background($color: $color_blue);
}
/* Thumb */
:host ::ng-deep .table::-webkit-scrollbar-thumb {
  @include my-background($color: $color_lightGray);
}
/* Track */
:host ::ng-deep .table::-webkit-scrollbar-track {
  @include my-background($color: $color_white);
}
//---------------------------------------

.card-header {
  @extend %my-card-header;
}
.label {
  @extend %my-label;
}

.message {
  margin-top:15px;
  margin-bottom:15px;
  font-size: 18px;
  font-family: $my_font;
  text-decoration: #0c2c43;
  text-decoration-line: underline;
}
