


<nb-card>
        <nb-card-header>
          Les statistiques selon le deces des enfants (1j-30j)
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <input [(ngModel)]="annee" class="form-control" ng-required="expression" type="text" nbInput fullWidth
                       id="annee" placeholder="Choisir une année">
              </div>
            </div>
            <div class="col-md-3">
              <button style="margin-left: 0px; width: 70px;" (click)="get(annee)" class="btn btn-primary float-right">
                <i class="fa fa-chart-bar"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

              <div style="display: block">
                <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </nb-card-body>
      </nb-card>

