<nb-card>
        <nb-card-header class="card-header bg-info">
          Les statistiques selon le décès des enfants (1j-30j)
        </nb-card-header>
        <nb-card-body>
          <div class="row">

              <div class="col-md-3">
                  <form  autocomplete="off" [formGroup]="reactiveForm" (ngSubmit)="OnSubmit()">
                      <input type="number" min="1900" max="2099" step="1"
                             class="form-control"
                             formControlName="annee">
                    <ngx-validation-message label="filtre"
                                            [showMin]="getControl('annee')?.hasError('min')"
                                            [showMax]="getControl('annee')?.hasError('max')"
                                            [min]="1900"
                                            [max]="2099"
                                            [showRequired]="!getControl('annee').valid && getControl('annee').touched">
                  </ngx-validation-message>
                  </form>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <div style="display: block">
                <canvas mdbChart
                        [chartType]="chartType"
                        [datasets]="chartDatasets"
                        [labels]="chartLabels"
                        [colors]="chartColors"
                        [options]="chartOptions"
                        [legend]="true"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="text-center text-info message" >{{message}}<span style="font-weight: bold"> {{messageAnnee}} </span></div>
            </div>
          </div>
          <hr>
          <br>
          <br>
        </nb-card-body>
      </nb-card>

