
<div class="container-xxl">
  <div class="row">
    <div class="col-sm-12">
      <div class="register-container">
        <nav class="navigation">
          <a  (click)="back()"
              class="link back-link" aria-label="Back">
            <nb-icon icon="arrow-back"></nb-icon>
          </a>
        </nav>
        <h1 id="title" class="title">Nouveau Utilisateur</h1>
        <div [formGroup]="registerForm" aria-labelledby="title">
          <div class="row">
            <div class="form-control-group col-md-12">
              <label >Nom</label>
              <input  nbInput autocomplete="off"
                      class="form-control"
                      fieldSize
                      type="text"
                      formControlName="lastName"
                      [status]="lastName.dirty ? (lastName.invalid  ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="lastName.invalid && lastName.touched ? true : null"
                      placeholder="Nom">
              <ngx-validation-message label="Nom" [showRequired]="lastName?.errors?.required && lastName.touched">
              </ngx-validation-message>
            </div>
            <div class="form-control-group col-md-12">
              <label>Prénom</label>
              <input  nbInput autocomplete="off"
                      fieldSize
                      class="form-control"
                      formControlName="firstName"
                      [status]="firstName.dirty ? (firstName.invalid  ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="firstName.invalid && firstName.touched ? true : null"
                      placeholder="Prénom">
              <ngx-validation-message label="Prénom"
                                      [showRequired]="firstName?.errors?.required && firstName.touched"></ngx-validation-message>
            </div>
            <div class="form-control-group col-md-12">
              <label >Mot de passe</label>
              <div class="input-group">
                <input  nbInput
                        fieldSize
                        class="form-control"
                        formControlName="password"
                        [type]="getInputType()"
                        [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                        placeholder="Mot de passse"
                >
                <div class="input-group-append">
                  <button class="btn btn-info btn-lg" (click)="toggleShowPassword()">
                    <i class="{{showPassword ? 'fas fa-eye-slash' : 'fas fa-eye' }}"></i>
                  </button>
                </div>
              </div>
              <ngx-validation-message label="Password" [showMinLength]="password?.hasError('minlength') && password.touched"
                                      [showMaxLength]="password?.hasError('maxlength') && password.touched"
                                      [showRequired]="password?.errors?.required && password.touched"
                                      [minLength]="minLength"
                                      [maxLength]="maxLength"></ngx-validation-message>
            </div>
            <div class="form-control-group col-md-12">
              <label for="input-re-password">Confirmez le mot de passe</label>
              <input  nbInput
                      fieldSize
                      class="form-control"
                      id="input-re-password"
                      formControlName="confirmPassword"
                      type="password"
                      [status]="confirmPassword.dirty ? (confirmPassword.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : 'basic'"
                      placeholder="Mot de passe">
              <ngx-validation-message label="Confirmation du mot de passe"
                                      [showMinLength]="confirmPassword?.hasError('minlength') && confirmPassword.touched"
                                      [showMaxLength]="confirmPassword?.hasError('maxlength') && confirmPassword.touched"
                                      [showRequired]="confirmPassword?.errors?.required && confirmPassword.touched"
                                      [minLength]="minLength"
                                      [maxLength]="maxLength"
                                      [showConfirmPassword]="password.value != confirmPassword.value && confirmPassword.touched"></ngx-validation-message>
            </div>
            <div class="form-control-group col-md-12">
              <label>Email</label>
              <input  nbInput autocomplete="off"
                      fieldSize
                      class="form-control"
                      formControlName="email"
                      [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
                      placeholder="Email">
              <ngx-validation-message label="Email address" [showPattern]="email?.hasError('pattern') && email.touched"
                                      [showRequired]="email?.errors?.required && email.touched"></ngx-validation-message>
            </div>
            <div class="form-control-group col-md-12">
              <label for="role" class="form-control-label">Role</label>
              <nb-select fullWidth size="large" placeholder="Role" formControlName="role" id="role">
                <nb-option value="ADMIN">Admin</nb-option>
                <nb-option value="USER">User</nb-option>
              </nb-select>
              <ngx-validation-message label="Role"
                                      [showRequired]="role?.hasError('required') && role.touched"></ngx-validation-message>
            </div>
          </div>
          <button nbButton fullWidth status="primary" size="large" style="margin-bottom: 2rem" [disabled]="!registerForm.valid"
                  [class.btn-pulse]="submitted" (click)="createUser()">
            Enregistrer
          </button>
          <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
            <ul class="alert-message-list">
              <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
            </ul>
          </nb-alert>

          <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
            <ul class="alert-message-list">
              <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
            </ul>
          </nb-alert>
        </div>
      </div>
    </div>
  </div>

</div>
