
  <nb-card >
    <nb-card-header class="card-header">
      <div class="row">
        <div class="col-sm-12">Ajouter un Bulletin</div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form autocomplete="off"  [formGroup]="dataBulletins.reactiveForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Type de bulletin</label>
            <nb-select  formControlName="typeBulletin"
                        class="type-select "
                         fullWidth
                        placeholder="Type de bulletin"
                        required>
              <nb-option *ngFor="let t of dataBulletins.typeBulletinList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
              <ngx-validation-message label="Type de bulletin"
                                      [showRequired]="!getControl('typeBulletin').valid && getControl('typeBulletin').touched">
              </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Province ou préfecture</label><br>
            <nb-select  formControlName="province"
                        class="type-select "
                         fullWidth
                        placeholder="Province ou préfecture"
                        required>
              <nb-option *ngFor="let t of dataBulletins.provinceList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Province ou préfecture"
                                    [showRequired]="!getControl('province').valid && getControl('province').touched">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Date de déclaration</label>
            <input
              type="date"

              name= "declaration"
              class="form-control"
              placeholder="Date de déclaration"
              required
              formControlName="declaration"
              (ngModelChange)="Bulletins.declaration = $event"/>
            <ngx-validation-message label="Date de déclaration"
                                    [showRequired]="!getControl('declaration').valid && getControl('declaration').touched">
            </ngx-validation-message>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Cercle</label><br>
            <input formControlName="cercle"
                   class="form-control"
                   type="text"

                   name= "cercle"
                   required
                   id="cercle"
                   placeholder="Cercle">
            <ngx-validation-message label="Cercle"
                                    [showRequired]="!getControl('cercle').valid && getControl('cercle').touched"
                                    [fr]="getControl('cercle')?.hasError('pattern')">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Municipalité/Centre/Commune</label><br>
            <input formControlName="centre"
                   class="form-control"
                   type="text"

                   name= "centre"
                   required
                   id="municipalite"
                   placeholder="Municipalité/Centre/Commune"
            >
            <ngx-validation-message label="Municipalité/Centre/Commune"
                                    [showRequired]="!getControl('centre').valid && getControl('centre').touched"
                                    [fr]="getControl('centre')?.hasError('pattern')">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Attestation de diagnostic</label>
            <nb-select  formControlName="diagnostique"
                        class="type-select "
                        fullWidth
                        required
                        placeholder="Diagnostique Attestation"
            >
              <nb-option *ngFor="let t of dataBulletins.diagnostiqueList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Diagnostique Attestation"
                                    [showRequired]="!getControl('diagnostique').valid && getControl('diagnostique').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Lieu de résidence</label>
            <nb-select  formControlName="residece"
                        class="type-select"
                        fullWidth required
                        placeholder="Lieu de résidence"
                        >
              <nb-option *ngFor="let t of dataBulletins.milieuList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Milieu de résidence"
                                    [showRequired]="!getControl('residece').valid && getControl('residece').touched">
            </ngx-validation-message>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Lieu d'enterrement
            </label>
            <nb-select  formControlName="lieuEntrement"
                        class="type-select "
                        fullWidth required
                        placeholder="Lieu Enterrement"
                        >
              <nb-option *ngFor="let t of dataBulletins.lieuList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Lieu d'enterrement"
                                    [showRequired]="!getControl('lieuEntrement').valid && getControl('lieuEntrement').touched">
            </ngx-validation-message>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Cimetière</label>
            <nb-select  formControlName="cimetiere"
                        class="type-select "
                        fullWidth
                        required
                        placeholder="Cimetière"
            >
              <nb-option *ngFor="let t of dataBulletins.cimetiereList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Cimetière"
                                    [showRequired]="!getControl('cimetiere').valid && getControl('cimetiere').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Numéro de tombe</label>
            <input formControlName="numTombe"
                   class="form-control"
                   type="number"
                   min="1"
                   name= "numTombe"
                   required

                   placeholder="Numéro de tombe"
            >
            <ngx-validation-message label="Numéro de tombe"
                                    [showRequired]="!getControl('numTombe').valid && getControl('numTombe').touched">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Compostage</label>
            <input formControlName="compostage"
                   class="form-control"
                   type="text"
                   id="Compostage"
                   placeholder="Compostage"
                  >
            <ngx-validation-message label="Compostage"
                                    [fr]="getControl('compostage')?.hasError('pattern')">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Décédé</label>
            <ngx-select formControlName="decede"
                        class="form-control"
                        [allowClear]="true"
                        [items]="listDecede"
                        (select)="doSelectD($event)"
                        (remove)="doRemoveD($event)"
                        placeholder="Décédé" required>
            </ngx-select>
            <ngx-validation-message label="Décédé"
                                    [showRequired]="!getControl('decede').valid && getControl('decede').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Médecin</label><br>
            <ngx-select formControlName="medecin"
                         class="form-control"
                         [allowClear]="true"
                         [items]="listMedcin"
                         (select)="doSelectM($event)"
                         (remove)="doRemoveM($event)"
                         placeholder="Médecin" required>

            </ngx-select>
            <ngx-validation-message label="Médecin"
                                    [showRequired]="!getControl('medecin').valid && getControl('medecin').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <button  class="btn mr-1 "  (click)="onSubmit()" type="submit" nbButton  status="info">Enregistrer</button>
            <button class="btn btn-secondary mr-1" (click)="dataBulletins.reactiveForm.reset()"  nbButton  status="info" outline>Annuler</button>

          </div>
        </div>
      </div>
      </form>
    </nb-card-body>
  </nb-card>
 <nb-card class="table-card">
   <nb-card-header class="card-header">
     <div class="row">
       <div class="col-sm-12">Liste des Bulletins</div>
     </div>
   </nb-card-header>

     <div class="table table-responsive">

       <ng2-smart-table [settings]="dataBulletins.settings"
                        [source]="source"
                        (custom)="onCustomConfirm($event)" >
       </ng2-smart-table>
     </div>

  </nb-card>


