nb-card-header {
  color: white;
  font-size: large;
  font-family: 'Courier New', Monospace;
  background-color: #2d8ac7;
}


:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-trash:before {
  color: #ff003b;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-edit:before {
  color: #21335a;
  font-size: 20px;
}
