:host ::ng-deep ng2-st-tbody-edit-delete { display: inline-block !important; width: 30%; height: 0 !important; margin-top: 0% }
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  margin-top: 0%; display: inline-block; width: 30%; text-align: center; font-size: 0em; }
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { color: #5DCFE3; }

:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-file-pdf:before {
  color: #b94a48;
  font-size: 20px;
}:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-edit:before {
  color: #0d1b40;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-trash:before {
  color: #ff003b;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table table {
  font-size: 8px;
  display: table;
  background-color: white;
}

/* headers grid color*/
:host ::ng-deep ng2-smart-table thead > tr > th  {
  background-color: #f5e9c2;
  white-space: nowrap;
  border: #070502;
  color: #070502;
  text-align: center;
}
:host ::ng-deep ng2-smart-table table tr th a {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.25rem;
  font-family: "Times New Roman";
  color: #070502;
}
:host ::ng-deep ng2-smart-table td  {
  white-space: nowrap;
  background-color: #fefffa;
  color: chocolate;
  border: #fefffa;
}


.download:hover{
  color: #f56717;
  text-decoration: underline #f56717;
  cursor: pointer;
}

:host ::ng-deep table {
  width: 1200px !important;
  overflow-x: scroll;

}
:host ::ng-deep .customformat {
  text-align: left;
  width: 600px;
  white-space: normal !important;
  color: #4e240e;

}


.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #ff0400; /* red */
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}



//to change the table scrollbar
/* width */
:host ::ng-deep .table::-webkit-scrollbar {
  height: 0.8em!important;
}
/* Handle on hover */
:host ::ng-deep .table::-webkit-scrollbar-thumb:hover {
  background: #0a5ab7;
}

/* Track */
:host ::ng-deep .table::-webkit-scrollbar-track {
  // background: #cacaca;
}
//---------------------------------------

nb-card-header {
  background-color: #f5d596;
  font-size: 20px;
  font-weight: bold;
  color: #7a3131;

}
.card-header {
  background-color: #f5d596;
  font-size: 20px;
  font-weight: bold;
  color: #7a3131;

}
