
  <nb-card >
    <nb-card-header>
      <div class="row">
        <div class="col-sm-12">Ajouter un Bulletin</div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form autocomplete="off"  [formGroup]="reactiveForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Type de bulletin</label>
            <nb-select  formControlName="typeBulletin"
                        class="type-select "
                        nbSelect fullWidth
                        placeholder="Type de bulletin"
                        required>
              <nb-option *ngFor="let t of typeBulletinList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
              <ngx-validation-message label="Type de bulletin"
                                      [showRequired]="!getControl('typeBulletin').valid && getControl('typeBulletin').touched">
              </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Province ou préfecture</label><br>
            <nb-select  formControlName="province"
                        class="type-select "
                        nbSelect fullWidth
                        placeholder="Province ou préfecture"
                        required="true">
              <nb-option *ngFor="let t of provinceList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Province ou préfecture"
                                    [showRequired]="!getControl('province').valid && getControl('province').touched">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Date de déclaration</label>
            <input
              type="date"
              fullWidth
              name= "declaration"
              class="form-control"
              placeholder="Date de déclaration"
              required="true"
              formControlName="declaration"
              (ngModelChange)="Bulletins.declaration = $event"
              />
            <ngx-validation-message label="Date de déclaration"
                                    [showRequired]="!getControl('declaration').valid && getControl('declaration').touched">
            </ngx-validation-message>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Cercle</label><br>
            <input formControlName="cercle"
                   class="form-control"
                   ng-required="expression"
                   type="text"
                   nbInput
                   fullWidth
                   name= "cercle"
                   required="true"
                   id="cercle"
                   placeholder="Cercle">
            <ngx-validation-message label="Cercle"
                                    [showRequired]="!getControl('cercle').valid && getControl('cercle').touched"
                                    [fr]="getControl('cercle')?.hasError('pattern')">
            </ngx-validation-message>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Municipalité/Centre/Commune</label><br>
            <input formControlName="centre"
                   class="form-control"
                   type="text"
                   nbInput
                   fullWidth
                   name= "centre"
                   required="true"
                   id="municipalite"
                   placeholder="Municipalité/Centre/Commune"
            >
            <ngx-validation-message label="Municipalité/Centre/Commune"
                                    [showRequired]="!getControl('centre').valid && getControl('centre').touched"
                                    [fr]="getControl('centre')?.hasError('pattern')">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Attestation de diagnostic</label>
            <nb-select  formControlName="diagnostique"
                        class="type-select "
                        nbSelect
                        fullWidth
                        required="true"
                        placeholder="Diagnostique Attestation"
            >
              <nb-option *ngFor="let t of diagnostiqueList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Diagnostique Attestation"
                                    [showRequired]="!getControl('diagnostique').valid && getControl('diagnostique').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Lieu de résidence</label>
            <nb-select  formControlName="residece"
                        class="type-select"
                        nbSelect
                        fullWidth
                        name= "residece"
                        required="true"
                        placeholder="lieu de résidence"
                        >
              <nb-option *ngFor="let t of milieuList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Milieu de résidence"
                                    [showRequired]="!getControl('residece').valid && getControl('residece').touched">
            </ngx-validation-message>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">lieu d'enterrement
            </label>
            <nb-select  formControlName="lieuEntrement"
                        class="type-select "
                        nbSelect
                        fullWidth
                        name= "lieuEntrement"
                        required="true"
                        placeholder="Lieu Enterrement"
                        >
              <nb-option *ngFor="let t of lieuList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Lieu d'enterrement"
                                    [showRequired]="!getControl('lieuEntrement').valid && getControl('lieuEntrement').touched">
            </ngx-validation-message>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Cimetière</label>
            <nb-select  formControlName="cimetiere"
                        lass="type-select "
                        nbSelect
                        fullWidth
                        required="true"
                        placeholder="Cimetière"
            >
              <nb-option *ngFor="let t of cimetiereList" [value]="t.value" >{{ t.title }}</nb-option>
            </nb-select>
            <ngx-validation-message label="Cimetière"
                                    [showRequired]="!getControl('cimetiere').valid && getControl('cimetiere').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Numéro de tombe</label>
            <input formControlName="numTombe"
                   class="form-control"
                   type="number"
                   nbInput
                   min="1"
                   name= "numTombe"
                   required="true"
                   fullWidth
                   placeholder="Numéro de tombe"
            >
            <ngx-validation-message label="Numéro de tombe"
                                    [showRequired]="!getControl('numTombe').valid && getControl('numTombe').touched">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Compostage</label>
            <input formControlName="compostage"
                   class="form-control"
                   type="text"
                   nbInput
                   fullWidth
                   id="Compostage"
                   placeholder="Compostage"
                   status="info">
            <ngx-validation-message label="Compostage"
                                    [fr]="getControl('compostage')?.hasError('pattern')">
            </ngx-validation-message>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Décédé</label><br>
            <!--nb-select  formControlName="decede"
                        class="type-select "
                        nbSelect
                        fullWidth
                        placeholder="registration number"
                        required="true">
              <nb-option class="url" (click)="passToDecede()">Ajouter un Décédé....</nb-option>

              <nb-option *ngFor="let t of NomDecede" [value]="t.id" > {{t.id}} : {{ t.nom }} {{ t.prenom }}</nb-option>
            </nb-select-->

            <input #autoDecede
                   nbInput
                   type="text"
                   formControlName="decede"
                   class="type-select "
                   fullWidth
                   (input)="onChangeDecede()"
                   placeholder="décédé"
                   [nbAutocomplete]="autoM" />

            <nb-autocomplete #autoM (selectedChange)="onSelectionChangeDecede($event)">
              <nb-option class="url" (click)="passToDecede()">Ajouter un Décédé....</nb-option>
              <nb-option *ngFor="let option of filteredListDecede$ | async" [value]="option">
                {{ option }}
              </nb-option>

            </nb-autocomplete>


            <ngx-validation-message label="Décédé"
                                    [showRequired]="!getControl('decede').valid && getControl('decede').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label  class="label">Médecin</label><br>
            <!--nb-select  formControlName="medecin" class="type-select "
                        nbSelect
                        fullWidth
                        placeholder="registration number"
                        required="true"
                        (change)="onChange($event.target.value)">
              <nb-option class="url"  (click)="passToMedecin()">Ajouter un Médecin....</nb-option>
              <nb-option *ngFor="let t of NomDMedcin" [value]="t.id" > {{t.id}} : {{ t.nom }} {{ t.prenom }}</nb-option>
            </nb-select-->

            <input #autoMedcin
                   nbInput
                   type="text"
                   formControlName="medecin" class="type-select "
                   fullWidth
                   (input)="onChangeMedcin()"
                   placeholder="medecin"
                   [nbAutocomplete]="auto" />
            <nb-autocomplete #auto (selectedChange)="onSelectionChangeMedcin($event)">
              <nb-option class="url"  (click)="passToMedecin()">Ajouter un Médecin....</nb-option>
              <nb-option *ngFor="let option of filteredListMedcin$ | async" [value]="option">
                {{ option }}
              </nb-option>

            </nb-autocomplete>

            <ngx-validation-message label="Médecin"
                                    [showRequired]="!getControl('medecin').valid && getControl('medecin').touched">
            </ngx-validation-message>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <button  class="btn mr-1 "  (click)="onSubmit()" type="submit" nbButton  status="info">Enregistrer</button>
            <button class="btn btn-secondary mr-1" (click)="reactiveForm.reset()"  nbButton  status="info" outline>Annuler</button>
            <button class="btn btn-secondary mr-1" (click)="show()"  nbButton  status="info" outline>Detail</button>

          </div>
        </div>
      </div>
      </form>
    </nb-card-body>
  </nb-card>



  <div *ngIf="medecinDetails == true">
    <nb-card>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Informations de Médecin">
            <nb-card>
              <nb-card-header>
                <div class="row">
                  <div class="col-sm-6">
                    Les informations du médecin
                  </div>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Nom Medecin</label>
                      <output status="info"
                              [value]="this.MedecinHumain.nom"
                              class="form-control"
                              type="text" fullWid status="info">
                      </output>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">الإسم العائلي</label>
                      <output status="info"
                              [value]="this.MedecinHumain.nomAR"
                              class="form-control"
                              type="text" fullWidth status="info" >
                      </output>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Prénom Medecin</label>
                      <output status="info"[value]="this.MedecinHumain.prenom" class="form-control" type="text" fullWid status="info" >
                      </output>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">الإسم الشخصي</label>
                      <output status="info"[value]="this.MedecinHumain.prenomAR" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Adresse de Medecin</label>
                      <output status="info"[value]="this.MedecinHumain.adress" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">العنوان</label>
                      <output status="info"[value]="this.MedecinHumain.adressAR" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">CIN d'encadrant</label>
                      <output status="info"[value]="this.MedecinHumain.cin" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="Informations de décéde">
            <nb-card>
              <nb-card-header>
                <div class="row">
                  <div class="col-sm-6">
                    Les informations du décédé
                  </div>
                </div>
              </nb-card-header>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label ">Nom décédé</label>
                      <output status="info"[value]="this.DecedeHumain.nom" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Prénom décédé</label>
                      <output status="info"[value]="this.DecedeHumain.prenom" class="form-control" type="text" fullWid >
                      </output>


                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Sexe</label>
                      <output status="info"[value]="this.DecedeHumain.sexe" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Date décès</label>
                      <output status="info"[value]="this.DecedeHumain.dateDeces" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>


                <div class="row">

                  <div class="col-sm-6">
                    <label  class="label">S'agit-il d'un mort né ?</label>
                    <output status="info"[value]="this.DecedeHumain.mortNe" class="form-control" type="text" fullWid >
                    </output>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Date de naissance</label>
                      <output status="info"[value]="this.DecedeHumain.dateNaissance" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Lieu de naissance</label>
                      <output status="info"[value]="this.DecedeHumain.lieuNaiss" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Nationalité</label>
                      <output status="info"[value]="this.DecedeHumain.nationalite" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">CIN</label>
                      <output status="info"[value]="this.DecedeHumain.cin" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Adresse</label>
                      <output status="info"[value]="this.DecedeHumain.adresse" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Etat Matrimonial</label>
                      <output status="info"[value]="this.DecedeHumain.etat" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Fille ou fils de : </label>
                      <output status="info"[value]="this.DecedeHumain.fils" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Heure de décès</label>
                      <output status="info"[value]="this.DecedeHumain.heure" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Lieu de décès</label>
                      <output status="info"[value]="this.DecedeHumain.lieuxDeces" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Préfecture /Province</label>
                      <output status="info"[value]="this.DecedeHumain.provinceD" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Préfecture d'arrondissements</label>
                      <output status="info"[value]="this.DecedeHumain.prefectureD" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Commune /Arrondissements</label>
                      <output status="info"[value]="this.DecedeHumain.communeD" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label"> Nature du mort </label>
                      <output status="info"[value]="this.DecedeHumain.natureMort" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Num de registre : </label>
                      <output status="info"[value]="this.DecedeHumain.id" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label"> Profession </label>
                      <output status="info"[value]="this.DecedeHumain.profession" class="form-control" type="text" fullWid >
                      </output>

                    </div>
                  </div>


                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label  class="label">Obstacle medicolégal</label>
                    <output status="info"[value]="this.DecedeHumain.obstacle" class="form-control" type="text" fullWid >
                    </output>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Autopsie</label>
                      <output status="info"[value]="this.DecedeHumain.obstacle" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label  class="label">Une operation a-t-elle été effectuée lors des 4 dernières semaines ?</label>
                      <output status="info"[value]="this.DecedeHumain.obstacle" class="form-control" type="text" fullWid >
                      </output>
                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-tab>

        </nb-tabset>


      </nb-card-body>

    </nb-card>
  </div>



<div class="card">
  <div class="card-header">
    Liste des Bulletins
  </div>
  <div class="table table-responsive">

    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (custom)="onCustomConfirm($event)"
                     >
    </ng2-smart-table>
  </div>
</div>






