nb-card-header {
  color: white;
  font-size: large;
 // font-family: 'Courier New', Monospace;
  background-color: #468847;
}
:host ::ng-deep ng2-st-tbody-edit-delete { display: flex !important; height: 0 !important; }:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom{ display: inline-block; margin-top: 50%; text-align: center; font-size: 0em; }:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { color: #5DCFE3; }

:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-file-pdf:before {
  color: #1a4109;
  font-size: 20px;
}
