<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <ngx-sexe-deces></ngx-sexe-deces>
      </div>
      <div class="col-md-6 col-sm-12">
        <ngx-selon-cause></ngx-selon-cause>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <ngx-deces-enfants></ngx-deces-enfants>
        </div>
        <div class="col-md-6 col-sm-12">
          <ngx-nature-deces></ngx-nature-deces>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        La liste des décédés
      </div>
      <div class="table table-responsive">
        <ng2-smart-table
          [settings]="settings"
          [source]="source">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</div>
