<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <ngx-sexe-deces></ngx-sexe-deces>
      </div>
      <div class="col-md-6 col-sm-12">
        <ngx-selon-cause></ngx-selon-cause>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
          <ngx-deces-enfants></ngx-deces-enfants>
        </div>
        <div class="col-md-6 col-sm-12">
          <ngx-nature-deces></ngx-nature-deces>
        </div>
    </div>
  </div>
</div>

<nb-card>
  <nb-card-header class="card-header bg-info">
    <div class="row">
      <div class="col-sm-12">  La liste des décédés</div>
    </div>
  </nb-card-header>
  <div class="table table-responsive">
    <ng2-smart-table
      [settings]="settings"
      [source]="source">
    </ng2-smart-table>
  </div>
</nb-card>
