

<nb-card>
    <nb-card-header class="card-header">
        <div class="row">
            <div class="col-sm-12">Ajouter un certificat médico-légal</div>
        </div>
    </nb-card-header>
    <nb-card-body>
      <form autocomplete="off"  [formGroup]="dataMedicoLegalService.reactiveForm">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">Médecin</label>
                  <ngx-select class="form-control"
                              placeholder="Médecin"
                              formControlName="medecin"
                              [allowClear]="true"
                              [items]="listDecede"
                              required></ngx-select>
                  <ngx-validation-message label="Médecin"
                                          [showRequired]="!dataMedicoLegalService.getControl('medecin').valid && dataMedicoLegalService.getControl('medecin').touched">
                  </ngx-validation-message>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">Défunt</label>

                  <ngx-select class="form-control"
                              formControlName="defunt"
                              placeholder="Défunt"
                              [allowClear]="true"
                              [items]="listDecede" required></ngx-select>
                  <ngx-validation-message label="Défunt"
                                          [showRequired]="!dataMedicoLegalService.getControl('defunt').valid && dataMedicoLegalService.getControl('defunt').touched">
                  </ngx-validation-message>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">Déclarant</label><br>
                    <input formControlName="declarant"
                           class="form-control"
                           type="text"
                           id="dec"
                           placeholder="Déclarant"
                           required="true">
                  <ngx-validation-message label="Déclarant"
                                          [showRequired]="!dataMedicoLegalService.getControl('declarant').valid && dataMedicoLegalService.getControl('declarant').touched"
                                          [fr]="dataMedicoLegalService.getControl('declarant')?.hasError('pattern')">
                  </ngx-validation-message>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">CIN Déclarant</label><br>
                    <input formControlName="cin"
                           [ngModel]="this.Medicolegal.cin"
                           class="form-control"
                           type="text"
                           id="cin"
                           placeholder="CIN Déclarant"
                    >
                  <ngx-validation-message label="CIN Déclarant"
                                          [fr]="dataMedicoLegalService.getControl('cin')?.hasError('pattern')">
                  </ngx-validation-message>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">Adresse Déclarant</label><br>
                    <input formControlName="address"
                           class="form-control"
                           type="text"
                           id="adresse"
                           placeholder="Adresse Déclarant"
                           required="true">
                  <ngx-validation-message label="Adresse Déclarant"
                                          [showRequired]="!dataMedicoLegalService.getControl('address').valid && dataMedicoLegalService.getControl('address').touched"
                                          [addressFr]="dataMedicoLegalService.getControl('address')?.hasError('pattern')">
                  </ngx-validation-message>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">Date déclaration</label>
                    <input formControlName="declaration"
                           class="form-control"
                           type="Date"
                           id="datedec"
                           placeholder="Date déclaration"
                    >

                </div>
            </div>

        </div>
        <div class="float-right">
            <button class="btn mr-1 " (click)="onSubmit()" type="submit" nbButton status="info">Enregistrer</button>
            <button class="btn mr-1 " (click)="reset()" nbButton status="info" outline>Annuler</button>
        </div>
      </form>
    </nb-card-body>

</nb-card>
<nb-card>
  <nb-card-header class="card-header">
    <div class="row">
      <div class="col-sm-12">Liste des certificats médico-légal</div>
    </div>
  </nb-card-header>
  <div class="table table-responsive">
    <ng2-smart-table
      [settings]="this.dataMedicoLegalService.settings"
      [source]="source"
      (custom)="onCustomConfirm($event)">
    </ng2-smart-table>
  </div>
</nb-card>
