@import '../../../@theme/styles/myStyle';
:host {
  .form-group:last-of-type {
    margin-bottom: 3rem;
  }
}
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form-container {
  padding: 3rem;
}
.left-column {
  background-color: $color_blue;
}
.connexion-button {
  padding:1rem!important;
  font-size: 18px !important;
  margin-bottom: 2rem;
}
