@import '../../../@theme/styles/myStyle';
.login-page {
  padding: 3rem;
  margin: auto;
  width: 60%;
}
.login-img img {
  width: 199.5px;
  height: 141.3px;
  margin-bottom:10px;
}
.login-title-container {
  font-weight: bold;
  color: #e35e06;
  line-height: 1.5;
  margin: 2rem 0;
}
.login-title-firstChild {
  font-size: 26px;
}
.login-title-lastChild {
  font-size: 24px;
}
.login-form {
  margin-top: 5rem;
}

.login-button {
 // width: 250px!important;
 // border-radius:30px !important;
  padding:1rem!important;
  font-size: 18px !important;
  margin-bottom: 2rem;
}
.login-actions {
  margin-top: 4rem;
}
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.left-column {
  padding: 2rem;
  background-color: $color_blue;
}
