
<div class="text-center" [ngStyle]="{'color': 'blue', 'font-size': '24px', 'font-weight': 'bold', 'font-family': 'cursive'}">Commune Urbaine Tanger</div>
<br><div class="text-center" [ngStyle]="{'color': 'blue', 'font-size': '24px', 'font-weight': 'bold', 'font-family': 'cursive'}">Centre Medico-Légal</div>
<br>
<div class="text-center"><img style="width:50%; margin-bottom:30px" src="assets/images/LogovilleTANGER.png"></div>
<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>
    Mail ou mot de passe incorrect !!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>connecté avec succès</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<div [formGroup]="loginForm" aria-labelledby="title">
  <div class="form-control-group">
    <label for="input-email">Adresse mail</label>
    <input  nbInput
            fullWidth
            id="input-email"
            formControlName="email"
            [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
            [attr.aria-invalid]="email.invalid && email.touched ? true : null"
            placeholder="Email address">
    <ngx-validation-message label="Email address" [showPattern]="email?.hasError('pattern') && email.touched"
                            [showRequired]="email?.errors?.required && email.touched"></ngx-validation-message>
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label  for="input-password">Mot de pass:</label>
    </span>
    <input  nbInput
            fullWidth
            id="input-password"
            formControlName="password"
            type="password"
            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
            placeholder="Mot de pass">
    <ngx-validation-message label="Password" [showMinLength]="password?.hasError('minlength') && password.touched"
                            [showMaxLength]="password?.hasError('maxlength') && password.touched"
                            [showRequired]="password?.errors?.required && password.touched"
                            [minLength]="minLength"
                            [maxLength]="maxLength"></ngx-validation-message>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" *ngIf="rememberMe">Se souvenir de moi </nb-checkbox>
  </div>

  <button nbButton fullWidth status="primary" size="large"
          (click)="login()" [disabled]="submitted || !loginForm.valid"
          [class.btn-pulse]="submitted">
    Se connecter
  </button>
</div>





