//to change the table scrollbar
/* width */
:host ::ng-deep .table::-webkit-scrollbar {
  height: 0.8em!important;
}
/* Handle on hover */
:host ::ng-deep .table::-webkit-scrollbar-thumb:hover {
  background: #7a3131;
}

/* Track */
:host ::ng-deep .table::-webkit-scrollbar-track {
  // background: #cacaca;
}
//---------------------------------------

nb-card-header {
  background-color: #b84848;
  font-size: 20px;
  font-weight: bold;
  color: #581514;

}
.card-header {
  background-color: #b84848;
  font-size: 20px;
  font-weight: bold;
  color: #581514;

}

:host ::ng-deep ng2-st-tbody-edit-delete { display: inline-block !important; width: 25%; height: 0 !important; margin-top: 0% }
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom { margin-top: 0%; display: inline-block; width: 25%; text-align: center; font-size: 0em; }
:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { color: #5DCFE3; }

:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-file-pdf:before {
  color: #b94a48;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-trash:before {
  color: #ff003b;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions .fa-edit:before {
  color: #21335a;
  font-size: 20px;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions a.ng2-smart-action:not(:last-child) {
 // border-right: none;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
