<nb-card>
  <nb-card-header class="card-header bg-info">
    <div class="row">
      <div class="col-sm-12">Ajout d'un certificat de transfert du corps</div>
      </div>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off" [formGroup]="dataService.reactiveForm">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Médecin</label>
          <ngx-select formControlName="medecins"
                      class="form-control"
                      [items]="listMedecin"
                      (select)="doSelectM($event)"
                      (remove)="doRemoveM($event)"
                      placeholder="Médecin"
                      required>
          </ngx-select>
          <ngx-validation-message label="Médecin"
                                  [showRequired]="!getControl('medecins').valid && getControl('medecins').touched">
          </ngx-validation-message>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Décédé</label>
          <ngx-select  formControlName="defunt"
                      class="form-control"
                      [items]="listDecede"
                       (select)="doSelectD($event)"
                       (remove)="doRemoveD($event)"
                      placeholder="Nom"
                      required>
          </ngx-select>
          <ngx-validation-message label="Décédé"
                                  [showRequired]="!getControl('defunt').valid && getControl('defunt').touched">
          </ngx-validation-message>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Date de déclaration</label>
          <input formControlName="declaration"  class="form-control" type="Date"
                 id="dateDec" placeholder="Date de déclaration"required>
          <ngx-validation-message label="Date de déclaration"
                                  [showRequired]="!getControl('declaration').valid && getControl('declaration').touched">
          </ngx-validation-message>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Déclarant</label>
          <input formControlName="declarant"  class="form-control" type="text"
                 id="declarant" placeholder="Déclarant" required>
          <ngx-validation-message label="Déclarant"
                                  [showRequired]="!getControl('declarant').valid && getControl('declarant').touched"
                                  [fr]="getControl('declarant').hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">CIN du déclarant</label>
          <input formControlName="cin"  class="form-control" type="text"
                 id="CINdec" placeholder="CIN du déclarant" required>
          <ngx-validation-message label="CIN du déclarant"
                                  [showRequired]="!getControl('cin').valid && getControl('cin').touched"
                                  [fr]="getControl('cin').hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">N° téléphone </label>
          <input formControlName="tel"  class="form-control" type="text"
                 id="tel" placeholder="Tel.." required>
          <ngx-validation-message label="N° téléphone"
                                  [showRequired]="!getControl('tel').valid && getControl('tel').touched"
                                  [number]="getControl('tel').hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Le Type de cercueil </label>
          <nb-select  formControlName="cercueilType"
                      class="form-control"
                      fullWidth
                      placeholder="type" required>
            <nb-option *ngFor="let t of dataService.cercueil" [value]="t" >{{ t }}</nb-option>
          </nb-select>
          <ngx-validation-message label="Type de cercueil"
                                  [showRequired]="!getControl('cercueilType').valid && getControl('cercueilType').touched">
          </ngx-validation-message>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Destination du corps</label>
          <nb-select  formControlName="destination"
                      class="form-control"
                      fullWidth
                      placeholder="Destination du corps"
                      required>
            <nb-option *ngFor="let t of dataService.destinationCorps" [value]="t" >{{ t }}</nb-option>
          </nb-select>
          <ngx-validation-message label="Destination du corps"
                                  [showRequired]="!getControl('destination').valid && getControl('destination').touched">
          </ngx-validation-message>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">Fourgon mortuaire Mle </label>
          <input formControlName="mortuaire"  class="form-control" type="text"
                 id="fourgon" placeholder="Fourgon mortuaire Mle" required>
          <ngx-validation-message label="Mortuaire"
                                  [showRequired]="!getControl('mortuaire').valid && getControl('mortuaire').touched"
                                  [fr]="getControl('mortuaire').hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label  class="label">La société ou l'administration </label>
          <input formControlName="inhumationSociete"  class="form-control" type="text"
                 id="txt" placeholder="La société ou l'administration chargée de l'inhumation ou du transfert" required>
          <ngx-validation-message label="Société d'inhumation"
                                  [showRequired]="!getControl('inhumationSociete').valid && getControl('inhumationSociete').touched"
                                  [fr]="getControl('inhumationSociete').hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="form-group">
          <label  class="label">Remarques </label>
          <textarea formControlName="remarque" class="form-control" type="text"
                 id="Remarque" placeholder="Remarques...">
          </textarea>
          <ngx-validation-message label="Remarques"
                                  [fr]="getControl('remarque').hasError('pattern')">
          </ngx-validation-message>
        </div>
      </div>
    </div>
    <div class="float-right">
      <button class="btn mr-1 "  (click)="onSubmit()" type="submit" nbButton  status="info">Enregistrer</button>
      <button class="btn mr-1 "  (click)="dataService.reactiveForm.reset()"  nbButton outline status="info">Annuler</button>
    </div>
    </form>
  </nb-card-body>
</nb-card>
<div class="card">
  <div class="card-header bg-info">
    Liste des certificats de transfert des corps
  </div>
  <div class="table table-responsive">
    <ng2-smart-table [settings]="dataService.settings" [source]="source"  (custom)="onCustomConfirm($event)">
    </ng2-smart-table>
  </div>
</div>


